
<app-navbar></app-navbar>

<p>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</p>
<P>
  <app-num-circle></app-num-circle>
</P>
<p>
<mat-form-field appearance="legacy">
    <mat-label>Legacy form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>pls</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
</p>
<p>
  <app-tabs></app-tabs>
</p>
<p>
  <app-schrittmacher></app-schrittmacher>
</p>
<test></test>
<p>
  <app-snackbar></app-snackbar>
</p>

<p>unten

</p>