.example-container{
    text-align: center
}

.form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px
}

.form-field{
    display: block
}
.content{
    padding: 16px;
}
.content > mat-card{
    width: 200px;
    margin: 10px;
    
}