<div class="container">
    <mat-form-field (ngSubmit) ="submit()" >
       <div class="form-group" >
            <mat-checkbox name="checkbox" class="checkbox" (change)="onChange()" [(ngModel)]="checked">älter als 12</mat-checkbox>
        </div>
        <pre></pre>
        <div class="form-group">
            <mat-checkbox name="checkbox2" class="checkbox" (change)="onChange2()" [(ngModel)]="checked2">jünger als 20</mat-checkbox>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Legacy form field</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="text">
        </mat-form-field>
        <button  mat-raised-button (click)="submit()"> hallo</button>
    </mat-form-field>

    <br><br><br><br><br>

    <mat-stepper orientation="vertical" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Website Paket</ng-template>
                <div>
                        <mat-checkbox matInput [ngModelOptions]="{standalone: true}" name="simplch" class="checkbox"  [(ngModel)]="checkedx">simpl</mat-checkbox>
                    </div>
                    <div> 
                        <mat-checkbox matInput [ngModelOptions]="{standalone: true}" name="komplexch" class="checkbox"  [(ngModel)]="checkedy">komplex</mat-checkbox>
                    </div>
                    <div>
                        <mat-checkbox matInput [ngModelOptions]="{standalone: true}" name="gaych" class="checkbox"  [(ngModel)]="checkedz">gaygaygay</mat-checkbox>
                    </div>
                
                <div>
                    <button mat-button matStepperNext (click)="shake()">next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
            <mat-card *ngIf="a">
                <mat-card-title>Basic Paket</mat-card-title>
                <mat-card-content>
                    <br>
                    <p> 
                        <li>Informationen</li>
                        <li>navbar</li>
                        <li>immpresum</li>
                        <br>
                        Preis: 2 BigMac
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="b">
                <mat-card-title>Delux Paket</mat-card-title>
                <mat-card-content>
                    <br>
                    <p> 
                        <li>Informationen</li>
                        <li>navbar</li>
                        <li>immpresum</li>
                        <li>login</li>
                        <li>datenbank</li>
                        <br>
                        Preis: 3 Saftige Handschläge
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card *ngIf="c">
                <mat-card-title>Mega Ultra Delux Paket</mat-card-title>
                <mat-card-content>
                    <br>
                    <p> 
                        <li>Informationen</li>
                        <li>navbar</li>
                        <li>immpresum</li>
                        <li>login</li>
                        <li>datenbank</li>
                        <li>prostituirte</li>
                        <li>1 schwarzes loch</li>
                        <li>hentai</li>
                        <br>
                        Preis: All In
                    </p>
                </mat-card-content>
            </mat-card>
                <div>
                    <button mat-button matStepperNext>next</button>
                    <button mat-button matStepperPrevious (click)="reset()">back</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>passwort</ng-template>
                <mat-form-field appearence="fill">
                    <mat-label>passwort</mat-label>
                 <input matInput placeholder="passwort" formControlName="secondCtrl" required [(ngModel)]="stepPas">
                </mat-form-field>
                <ng-template matStepLabel>Done</ng-template>      
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset(); reset()">Reset</button>
                </div>
            </form>
          </mat-step>
    </mat-stepper>
    <br><br><br><br><br>
</div>