
 <mat-button-toggle-group #group="matButtonToggleGroup" aria-required="#group">
  <mat-button-toggle value="+" aria-label="Plus">
    +
  </mat-button-toggle>
  <mat-button-toggle value="-" aria-label="Minus">
    -
  </mat-button-toggle>
  <mat-button-toggle value="*" aria-label="Mal">
    *
  </mat-button-toggle>
  <mat-button-toggle value="/" aria-label="Dividieren">
    /
  </mat-button-toggle>
</mat-button-toggle-group>

<mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Sag eine zahl</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Zahl</mat-label>
          <input [(ngModel)]="ersteZahl" matInput type="number" placeholder="Zahl" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext (click)="progressNext()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Sag noch eine Zahl">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
          <mat-label>Zahl</mat-label>
          <input [(ngModel)]="zweiteZahl" matInput type="number" formControlName="secondCtrl" placeholder="Zahl"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious (click)="progressBack()">Back</button>
          <button mat-button matStepperNext (click)="progressNext()" >Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p *ngIf="group.value == '+'">{{beide()}}</p>
      <p *ngIf="group.value == '-'">{{keine()}}</p>
      <p *ngIf="group.value == '*'">{{times()}}</p>
      <p *ngIf="group.value == '/'">{{divided()}}</p>
      <div>
        <button mat-button matStepperPrevious (click)="progressBack()">Back</button>
        <button mat-button (click)="stepper.reset(); progressReset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  <mat-progress-bar id="progbar" mode="determinate" color="accent" [value]="_progress"></mat-progress-bar>